/*colors*/
/* Dracula */
/*
@define-color colbg       #282a36;
@define-color colbg2      #44475a;
@define-color colfg       #f8f8f2;
@define-color colgrey     #6272a4;
@define-color colcyan     #8be9fd;
@define-color colgreen    #50fa7b;
@define-color colorange   #ffb86c;
@define-color colmagenta  #ff79c6;
@define-color colviolet   #bd93f9;
@define-color colred      #ff5555;
@define-color colyellow   #f1fa8c;
*/
/*Onedark*/

@define-color colbg        #282c34; 
@define-color colbg2       #3f444a;
@define-color colfg        #bbc2cf;
@define-color colgrey      #5B6268;
@define-color colcyan      #46d9ff;
@define-color colgreen     #98be65;
@define-color colorange    #da8548;
@define-color colmagenta   #c678dd;
@define-color colviolet    #a9a1e1;
@define-color colred       #ff6c6b;
@define-color colyellow    #ecbe7b;

/*palenight*/
/*
@define-color colbg        #292D3E; 
@define-color colbg2       #242837;
@define-color colfg        #EEFFFF;
@define-color colgrey      #676E95;
@define-color colcyan      #80cbc4;
@define-color colgreen     #c3e88d;
@define-color colorange    #f78c6c;
@define-color colmagenta   #c792ea;
@define-color colviolet    #bb80b3;
@define-color colred       #ff5370;
@define-color colyellow    #ffcb6b;
*/



* {
    /*all: initial; Ignore gtk theme*/ 
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FantasqueSansM Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
    /* font-family: "ComicShannsMono Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif"; */
    font-size: 13px;
    min-height: 0;
    /* opacity: 0.0; */
    /* color: @colfg; */
}



window#waybar {
    background-color: @colbg;
    /* color: @colfg; */
    transition-property: background-color;
    transition-duration: .5s;
    /* opacity: 0.9;  */
}

window#waybar.empty #window {
	background: transparent;
}

#tags button  {
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: @colgrey;
    }

#tags button.occupied  {
    background-color: @colbg2;
    color: @colfg;
}
#tags button.focused{
    background-color: @colgrey; 
    color: @colfg;
}


#window {
    color: @colviolet;
}

#workspaces button  {
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: @colgrey;
}

#workspaces button  {
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: @colgrey;
}
#workspaces button.active{
    background-color: @colgrey;
    border-bottom: 2px solid @colviolet;
    color: @colfg;
}
#workspaces button.urgent{
    background-color: @colred;
    color: @colfg;
}

#workspaces button.hidden{
    background-color: @colbg; 
    color: @colfg;
}

#window {
    color: @colviolet;
}

#tags button{
    background-color: @colbg;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
    color: @colgrey;
}

#tags button.occupied{
    background-color: @colbg2;
    padding: 3px;
    border-radius: 10px;
    min-width: 20px;
}

#tags button.focused{
    background-color: @colgrey;
    border-bottom: 2px solid @colviolet;
    color: @colfg;
}

#tags button.urgent{
    background-color: @colred;
    color: @colfg;
}

 /* #custom-dwl_layout { */
 /*     color: @colviolet; */
 /* } */

 /* #custom-dwl_title { */
 /*     color: @colmagenta; */
 /* } */

 /* #custom-dwl_tag { */
 /*     color: @colgrey */
 /* } */

 /* #custom-dwl_tag.selected { */
 /*     border-top: 1px solid @colmagenta */
 /* } */

 /* #custom-dwl_tag.urgent { */
 /*     background-color: @colred */
 /*     } */

 /* #custom-dwl_tag.active { */
 /*     color: @colfg */
 /* } */


#window {
     background: @colbg2; 
     padding: 0 10px;
     margin: 3px 3px 3px 3px;
     border-radius: 90px;
     background-clip: padding-box;

 }

#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray
{
  background: @colbg2; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  border-radius: 90px;
  background-clip: padding-box;
}

#battery {
    color: @colgreen; 
}

#clock {
    color: @colviolet;
}

#cpu {
    color: @colcyan
}
#memory {
    color: @colmagenta; 
}
#network {
    color: @colorange; 
}
#pulseaudio {
    color: @colred;
}
